#chart_container {
  display: block;
  height: 400px;
  margin: 0 auto;
  width: 600px;
}

#chart_container h1 {
  color: #000;
  font-family: Arial Narrow,Arial,sans-serif; 
  font-size: 26px;
  text-align: center;
}

#chart_container span{
  color: #0e99d1;
  font-size: 32px;
}